[uwsgi]
; socket = 0.0.0.0:8080
https = 0.0.0:8080,foobar.crt,foobar.key,HIGH
uid=tpa
gid=tpa

enable-threads = true

chdir = /home/tpa/the_purple_alliance_server
mount = /=./server.py
manage-script-name = true

stats = 127.0.0.1:9191
pidfile = ./the_purple_alliance_server.pid

; If VIRTUAL_ENV is set then use its value to specify the virtualenv directory
if-env = VIRTUAL_ENV
virtualenv = %(_)
endif =
